<footer class="footer" style="background-image: url('images/footer-bg.png')">
    <div class="container">
        <ul class="footer__list">
            <li class="footer__item footer__item--twitter">
                <a class="footer__item-link" href="https://twitter.com/FussersNFT">
                    <div class="footer__item-logo">
                        <img class="footer__item-img footer__item-img--twitter" src="images/icons/twitter.svg" alt="twitter x" width="50" height="47">
                    </div>
                    Twitter (x)
                </a>
            </li>
            <!--<li class="footer__item footer__item&#45;&#45;discord">
                <a class="footer__item-link" href="">
                    <div class="footer__item-logo">
                        <img class="footer__item-img footer__item-img&#45;&#45;discord" src="images/icons/discord.svg" alt="discord" width="66" height="51">
                    </div>
                    Discord
                </a>
            </li>-->
            <li class="footer__item footer__item--sea">
                <a class="footer__item-link" href="">
                    <div class="footer__item-logo">
                        <img class="footer__item-img footer__item-img--sea" src="images/icons/sea.svg" alt="open sea" width="66" height="66">
                    </div>
                    Open sea
                </a>
            </li>
        </ul>
    </div>
</footer>